/*
*
* Define Section Or page
*
*/
html,body{
    margin:0;
    padding:0;
    font-family: PIER, Arial, sans-serif;
}

@font-face{
    font-family: "PIER";
    src: url('pier.otf')
}

.colorGold {
    color: #FCC200;
}

.colorGoldBG {
    background-color: #FCC200;
}

.colorPlatinum {
    color: #E5E4E2;
}

.colorPlatinumBG {
    background-color: #E5E4E2;
}

.colorSilver {
    color: #C0C0C0;
}

.colorSilverBG {
    background-color: #C0C0C0;
}

h1{
    font-size:33px;
}

h2{
    font-size:27px;
}

h3{
    font-size:22px;
}

.customButtonDefault {
    color: black;
    border-color: black;
    background-color: white;
    
}

.buttonDefault {
    width: 120px;
    height: 34px;
    border-radius: 4px;
    border-width: 1px;
    padding: 6px 12px;
    font-size: 14px;
    vertical-align: middle;
    margin-top: 5px;
}

.customButtonDefault:hover {
    background-color: #ccc;
}

.customButtonPrimary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.customButtonPrimary:hover {
    background-color: #2d6da3;
}

.noDec {
    text-decoration: none;
}
/*
*
* Define Next Section Or page
*
*/

/* Navbar Style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.navIcon {
    width: 30px;
    height: auto;
    display: inline-block;
    vertical-align: middle;

}

.navIconText {
    font-family: Helvetica;
    margin-bottom: 0px;
}


.label {
    margin-top: 0px;
    display: inherit;
    vertical-align: middle;
    color: white;
    height: auto;
}

.navDiv {
    padding-top: 5px;
    width: 15%;
    height: 100vh;
    background-color: #9aafbd;
    visibility:visible;
    float: left;
    z-index:600;
}

.blockNav {
    list-style-type: none;
    display: block;
}

.inlineNav {
    list-style-type: none;
    display: inline;
}

.inlineNav p {
    padding-left: 10px;
}

.navDiv a {
    text-decoration: none;
}

div ul {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

ul li.blockNav {
    padding-top: 5px;
    padding-bottom: 5px;
}

hr {
    margin-top: 3px;
}

/*
*
* Define Next Section Or page
*
*/

/* Navbar Style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.landingBtn {
    float: left;
    padding-right: 5px;
}

.activeNav{
    color: #4f5860;
    font-size: 14px;
}
.header {
    width: 100%;
    height: 50px;
    background-color: #9aafbd;
}

.header h3 {
    margin: 0;
    padding: 15px;
    vertical-align: middle;
    font-family: PIER, Arial;
    color: white;
}

.login {
    width: 30%;
    height: auto;
    padding-left: 15%;
    padding-top: 15%;
    float: left;
}

.phonePic {
    width: 40%;
    height: auto;
    padding-top: 10%;
    padding-right: 15%;
    float: left;

}

.phonePic img {
    width: auto;
    display: block;
    margin: auto;
}


.coinPlacement{
	position: absolute;
	margin-top: 100px;
	margin-left: 20%;
}

.itemDetail{
	position: absolute;
	margin-top: 65px;
	margin-left: 15%;
	font-size: 13px;
}

.coinInfoTable{
	table-layout: fixed;
	width: 100%;
	max-width: 450px;
	margin-top:100px;
	margin-left: 20%;
	position: absolute;
	padding-left: 180px;
    border-spacing: 10px;
    border-collapse: separate;

}

.imgNavSmall{
        visibility: hidden;
    }
/*starting the second portion of nav for mobile*/
@media screen and (max-width: 1200px){

    .header{
        height: 36px;

    }

    .header h3 {
        margin: 0;
        padding: 9px;
        vertical-align: middle;
        text-align: left;
        font-family: PIER, Arial;
        color: white;
        text-align: center; 
    }
    /*
    .header h3:before{
        content: 'armando';
        display: block;
        text-align: center;
    }*/ 
    .imgNavSmall{
        visibility: visible;
    }
}

/* BEGIN Stack Page Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#itemTitle table {
    max-height: 20px;
    height: 20px;
    line-height: 20px;
    width: 100%;
}

#itemTitle table tr td {
    width: 33.33%;
}

#backButton {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    font-weight: bold;
}

#currentPage {
    text-align: center;
}

#addButton {
    font-weight: normal;
    max-width: 20px;
    position:absolute;
    top:5px;
    right:5px;
    z-index:600;
    visibility:hidden;
}

#navigationIframe {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0;
}

#bullionAside {
    position: absolute;
    width: 30%;
    margin-left: 16%;
    margin-top: 65px;
}

#valueTable {
    border: 0;
}

#valueTable table {
    border-spacing: 0;
    margin: 0;
    width: 0;
}

#valueTable table tr {
    height: 0;
    line-height: 10px;
    font-size: 12px;
    right: 0;
}

#moneySpan {
    font-weight: bold;
    font-size: xx-large;
}

#dailySpan {
    color: gray;
    padding-left: 10px;
}

#bullionTitleSpan {
    font-size: 12px;
}

#currentSpotTable {
    width: 100%;
    text-align: center;
    font-size: medium;
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid rgba(154, 175, 189, 0.3);
}

#currentSpotRow {
    height: 35px;
    text-align: left;
}

#currentSpotSpan {
    font-size: medium;
    font-weight: normal;
}

#currentSpotValues,
#currentSpotLabels {
    height: 50px;
    margin-right: 20px;
}

#currentSpotValues td,
#currentSpotLabels td {
    width: 33.33%
}

#currentSpotValues {
    vertical-align: bottom;
}

#currentSpotLabels {
    vertical-align: top;
}

#currentSpotValues td {
    border-top: 2px solid rgba(154, 175, 189, 0.25);
}

#graphAside {
    visibility: visible;
    position: absolute;
    margin-left: 50%;
    margin-top: 65px;
}

#graphAside,
#graphAside img {
    width: 70%;
    height: 285px;
}

#stackGraphTable {
    display: none;
}

#myStackTable {
    visibility: visible;
    position: absolute;
    margin-left: 16%;
    width: 80%;
    min-width: 370px;
    margin-top: 350px;

}

#searchForm {
    position: relative;
    display: inline-block;
    margin: 20px auto;
}

#searchBox,
#searchBoxResetButton {
    outline: none;
}

#searchBox {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    width: 170px;
    padding: 3px 23px 3px 8px;
}

#searchBox:invalid {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: white url("../img/magnifyingGlass.png") 10px 6px no-repeat;
}

#searchBox:invalid + #searchBoxResetButton {
    visibility:hidden;
}

#searchBoxResetButton {
    background: url("../img/reset.png");
    width: 14px;
    height: 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 0;
    text-indent: -999px;
    position: absolute;
    right: 8px;
    top: 7px;
    cursor: pointer;
}

#searchColumn {
    text-align: right;
    width: 80%;
    margin-right: 10px;
}

#imageColumn {
    text-align: right;
}

#plusButtonImage {
    height: 20px;
}

#bullionAside,
#graphAside,
#myStackTable,
#bullionTable {
    max-width: 1200px;
}

#bullionTable {
    visibility: visible;
    position: absolute;
    table-layout: fixed;
    width: 80%;
    min-width: 370px;
    margin-top: 410px;
    margin-left: 16%;
    margin-bottom: 30px;
    white-space: nowrap;
    text-align: center;
    font-weight: normal;
    font-size: 0;
    overflow: hidden;
}

#bullionTable thead {
    display: block;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid gray;
    border-spacing: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(154, 175, 189, 0.4);
}

#bullionTable tbody {
    display: block;
    height: 240px;
    overflow-y: auto;
    -webkit-box-shadow: 0 4px 4px -2px #000000;
    -moz-box-shadow: 0 4px 4px -2px #000000;
    box-shadow: 0 4px 4px -2px #000000;
}

#bullionTable th,
#bullionTable td {
    padding: 0;
    margin: 0;
    width: 21.55%;
    font-size: 16px;
}

#bullionTable .pictureColumn {
    width: 10%;
}

#bullionTable td {
    height: 60px;
    line-height: 60px;
}

#bullionTable td img {
    height: 60px;
    vertical-align: middle;
}

#bullionTable tbody::-webkit-scrollbar {
    width: 5px;
}

#bullionTable tbody::-webkit-scrollbar-track,
#bullionTable tbody::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(154, 175, 189, 0.95);
    -moz-box-shadow: inset 0 0 6px rgba(154, 175, 189, 0.95);
    box-shadow: inset 0 0 6px rgba(154, 175, 189, 0.95);
    border-radius: 10px;
}

/* END Stack Page Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Start Nick Styles */

.table-condensed tbody tr td {
    width:33.31%;
    font-family: Arial;
}

.sectionTitle {
    font-weight: bolder;
    font-size: 16px;
    font-family: PIER;
}

#nickLeftDiv{
    float: left;
    width: 100%;
    padding-left: 20px;
    padding-top: 15px;
}

.table-responsive{
    float:left;
    width:98%;
}

#imgSpotDayView{
    float:left;
    width:100%;
    padding-top:20px;
}

#imgSpotMonthView{
    float:left;
    width:100%;
    padding-top:20px;
    display:none;
}

@media screen and (min-width: 1200px){

    #nickLeftDiv{
        width: 20%;
    }

    #imgSpotDayView, #imgSpotMonthView{
        width:65%;
    }

    .navDiv {
        visibility:visible;
    }


}

@media screen and (max-width:   1200px){



}




/* end Nick Styles */

/*Armando styles*/
/*.coinPlacement{
	position: absolute;
	margin-top: 100px;
	margin-left: 20%;
}*/

#picSizeCoin{
    height: 200px;
    width: 200px;
    border: dashed;
}

/*.itemDetail{
	position: absolute;
	margin-top: 70px;
	margin-left: 15%;
	font-size: 13px;
}*/

/*.coinInfoTable{
	table-layout: fixed;
	width: 100%;
	max-width: 450px;
	margin-top: 90px;
	margin-left: 20%;
	position: absolute;
	padding-left: 180px;
    border-spacing: 10px;
    border-collapse: separate;
    font-size: smaller;

}*/

#itemTitle{
            display: block;
            margin-top: 0px;
            text-align: center;
            background-color: #F0F0F0;
            -webkit-margin-before: 0px;
            -webkit-margin-after: 0px;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            padding-top: 8px;
            padding-bottom: 6px;
            font-weight: 100;
            font-size: medium;
}

#leftArrow{
    position: absolute; 
    font-size: x-large; 
    padding: 4px; 
    color: rgb(250,235,215);   
}

#hideHeader{
    display: none;
}

/*added by Anh */
.coinInfoDiv {
    float:left;
    height: auto;
    margin-left: 40px;
}

.coinInfoDiv table {
    margin-top: 25px;
}

.coinInfoDiv table tr td {
   padding: 5px 15px 5px 15px;
}


/*screen shrinkage*/
@media screen and (max-width: 1200px){
       /* #setContent{
            display: none;
        }*/
        #hideHeader{
            display: block;    
        }
        figure #picSizeCoin{
            height: 100px;
            width: 100px;
            border: dashed;
            margin: 0 auto 0.55em;
            display: block;
        }
        .itemDetail{
            visibility: hidden;
        }
        .coinPlacement{
            margin-top: 0px;
            margin-left: 0px;
            /*background-color: aqua;*/
            width: 100%;
            padding-left: inherit;
            padding-top: 10px;
            border-style: none;
        }
        
        .coinInfoTable{
              table-layout: fixed;
              width: 100%;
              max-width: 100%;
              margin-top: 120px;
              position: absolute;
              margin-left: auto;
              margin-right: auto;
              padding-left: inherit;
              border-spacing: 9px;
              border-collapse: separate;
              font-size: smaller;
             /* background-color: rgb(240,240,240);*/
        }
        .itemDetailColor{
              color: rgb(160,160,160);
        }

        #stackGraphTable {
            display: table;
            height: 40px;
            width: 100%;
            min-width: 100%;
            border-collapse: collapse;
        }

        .outerEdges {
            width: 47%;
            background-color: #9aafbd;
            margin: 0;
        }

        #myStack,
        #myGraph {
            width: 3%;
            background-color: #9aafbd;
            margin: 0;
        }

        #myStack img,
        #myGraph img {
            max-height: 20px;
        }

        #myStack img {
            float: right;
        }

        #myGraph img {
            float: left;
        }

        #bullionTable th,
        #bullionTable td {
            height: 15px;
            width: 24%;
        }

        #bullionAside,
        #graphAside,
        #bullionTable,
        #myStackTable {
            position: relative;
            width: 100%;
            margin-left: 0;
            margin-top: 0px;
            z-index:500;
        }

        #graphAside {
            position: absolute;
            visibility: hidden;
            width: 100%;
            margin-left: 0;
            margin-top: 25px;
        }

        #graphAside img {
            width: 95%;
            padding-top: 20px;
        }

        #navigationIframe,
        #currentSpotTable,
        #bullionTable .pictureColumn,
        #searchBox,
        #searchBoxResetButton,
        #plusButtonImage {
            display: none;
        }


        /*figure > *{
            margin: 0 auto 0.55em;
            display: block;

        }*/
}


#hamburger{
    position:absolute; 
    top:5px;
    left:5px; 
    width:30px;
    visibility: hidden;
    z-index:600;
}

#hamburger:hover{
    cursor:pointer;
}
/*end armando style*/
@media screen and (max-width: 1200px){
    .navDiv{
        visibility:hidden;
        width:100%;
        text-align:center;
        position:absolute;
        top:-500px;
    }

    #hamburger, #addButton{
        visibility:visible;
    }

}

/* BEGIN Add Coin Page Styles --------------------------- */

.backNavDiv {
    display: block;
    width: 85%;
    height: auto;
    float: left;
    margin-top: 25px;
}

div>h3 {
    margin-left: 60px;
}

.coinPicDiv {
    margin: 20px 10px 10px 60px;
    width: auto;
    height: auto;
    float: left;
}

.inputDetailsDiv {
    float:left;
    height: auto;
    margin-left: 40px;
}

.inputDetailsDiv table {
    margin-top: 25px;
}

.calculatedDetailsDiv {
    float:left;
    height: auto;
    margin-left: 40px;
}

.calculatedDetailsDiv table {
    margin-top: 25px;
}

.inputDetailsDiv table tr td, .calculatedDetailsDiv table tr td {
   padding: 5px 15px 5px 15px;
}

.saveDiv {
    height: auto;
    margin-top: 20px;
    text-align: center;
}

#saveToStackButton {
    width: auto;
    font-size: 16px;
}


/* END Add Coin Page Styles ----------------------------- */

