body, html{
  margin:0;
  padding:0;
  background:#728965;
  font-family:Trebuchet MS;
  overflow:hidden;
  min-width:315px;
}

.landing-modal{
  position:fixed;
  width:100px;
  height:100px;
  z-index:15;
  top:50%;
  left:50%;
  margin:-50px 0 0 -50px;
  /*background:white;*/
  }

.landing-modal h3, .landing-modal h4 {
  visibility: hidden;
  left: -1000px;
  position: relative;
}

.landing-modal img {
  height: 200px;
  width: 200px;
  position: absolute;
  top: -50px;
  left:-50px;
}

.center-landing-modal {
  margin-top:200px;
  text-align:center;
  font-size:35px;
}

.showHomePage {
  border:10px solid black;
  visibility:hidden;
  left: -2000px;
  position: relative;
}

.showHomePage:hover {
  border:10px solid #CEB44B;
  cursor:pointer;
}


.container{
  width:100%;
  height:300px;
  position:relative;
  background:yellow;
  color:white;
  visibility:hidden;
}

#one{
  background:#221E1F; 
}
#two{
  background:#728965;
}
#three{
  background:#CEB44B;
}
#four{
  background:#89552E;
}
#five{
  background:#728965;
}

.image-container{
  width:150px;
  height:150px;
  background:grey;
  position:absolute;
  left:50px;
  top:70px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow:hidden;
  border:8px solid white;
}

.profile-image{
  height: 220px;
  width: 220px;
  position: absolute;
  top: -35px;
  left: -35px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.background-profile-image {
  height: 220px;
  width: 220px;
  position: absolute;
  top: -35px;
  left: -35px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-image:url(../img/nea_small.jpg);
  background-position:center;
}


.p1{
  position:relative;
  margin:0;
  padding:0;
}

h1{
  position:relative;
  margin-bottom:5px;
}

h2{
  position:relative;
  margin-bottom:5px;
}

.p2{
  position:relative;
  margin:0;
  padding:0;
}

.profile-contents{
  position:absolute;
  left:270px;
  height:auto;
  padding:10px;
}

@media screen and (max-width: 800px), screen and (max-height: 640px){
 

  .container{
    height:420px;
  }

  .center-landing-modal {
    margin-top:90px;
    text-align:center;
    font-size:35px;
  }


}

@media screen and (max-width: 525px){

  .container{
    height:750px;
  }

  .image-container{
  left:50%;
  margin:0 0 0 -100px;
  }

  .profile-contents{
    top:270px;
    left:10px;
    height:auto;
    padding:20px;
  }


}