/* * * * * * * * * * * * * * * *
 *                             *
 *           FONTS             *
 *                             *
 * * * * * * * * * * * * * * * */

@font-face {
    font-family: "robotolight";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "robotocon";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "openlight";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "openregular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "opensemi";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "raleway_r";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "raleway_m";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "monster_h";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/montserrat-hairline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-hairline-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "monster_l";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "monster_r";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype");
}
/* SASS VARIABLES */
/* * * * * * * * * * * * * * * *
 *                             *
 *        GENERAL STYLE        *
 *                             *
 * * * * * * * * * * * * * * * */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 14px;
}

body {
    background: #FEFEFE;
    font-family: "monster_h";
    font-weight: 800;
    color: black;
}

.main-section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 63px;
    padding-bottom: 33px;
    padding-left: 103px;
}
/* ---------- LOADER ------------------ */
#loader {
  width: 100%;
  height: 30px;
  margin-left: 55px;
  margin-top: 15px;
  line-height: 30px;
  text-align: center;
  transform: translate(-50%, -50%);
  font-weight: 100;
  font-size: 16px;
  color: #55B7C5;
}
#loader::before, #loader::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: #55B7C5;
  position: absolute;
  animation: load .7s infinite alternate ease-in-out;
}
#loader::before {
  top: 0;
}
#loader::after {
  bottom: 0;
}

@keyframes load {
  0% { left: 0; height: 15px; width: 10px }
  50% { height: 2px; width: 20px }
  100% { left: 130px; height: 15px; width: 10px}
}
/* -------END LOADER ----------------- */

/* * * * * * * * * * * * * * * *
 *                             *
 *     NAVIGATION & FOOTER     *
 *                             *
 * * * * * * * * * * * * * * * */
/* TOP NAV */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: rgba(19, 35, 47, 0.9);
    font-size: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0px;
    text-align: center;
    font-weight: 700;
    color: white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 999;
}

nav svg {
    width: 30px;
    height: 30px;
    fill: #55B7C5;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

nav svg:hover {
    fill: #336d76;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

nav .icon-spinner2 {
    left: 35px;
}

nav .icon-cog {
    right: 35px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:visited {
    color: white;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #D0D0D0;
    font-size: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0px;
    text-align: center;
    font-weight: 700;
    color: #fafafa;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 2px 5px #FEFEFE;
    z-index: 999;
    display: none;
}

.mobile-nav svg {
    display: block;
    width: 40px;
    height: 40px;
    fill: #55B7C5;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.mobile-nav svg:hover {
    fill: #336d76;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.mobile-nav .icon-keyboard-arrow-left {
    left: 20px;
}

.mobile-nav .icon-add {
    right: 20px;
}
/* SIDE NAV */

aside {
    position: fixed;
    top: 63px;
    left: 0;
    height: -webkit-calc(100% - 96px);
    height: calc(100% - 96px);
    width: 100px;
    background: #D0D0D0;
    border-radius: 0px;
}

aside a {
    text-decoration: none;
}

aside figure {
    width: 100%;
    height: 100px;
    border-bottom: 3px solid #FEFEFE;
    cursor: pointer;
    color: #55B7C5;
    text-align: center;
    line-height: 80px;
    font-size: 2.5em;
    position: relative;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

aside figure figcaption {
    font-size: 14px;
    position: relative;
    top: -42px;
    font-family: "monster_h";
    color: black;
}

aside figure svg {
    fill: #55B7C5;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -37px;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

aside figure:hover {
    color: #336d76;
    background: #B8B8B8;
}

aside figure:hover svg {
    fill: #336d76;
}

.nav-selected {
    color: #336d76;
    background: #B8B8B8;
}

.nav-selected svg {
    fill: #336d76;
}
/* FOOTER */

footer {
    position: fixed;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    bottom: 0px;
    left: 0;
    color: black;
    background: #D0D0D0;
    font-size: 0.9em;
    border-top: 3px solid #FEFEFE;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
/* * * * * * * * * * * * * * * *
 *                             *
 *        WIRE GENERAL         *
 *                             *
 * * * * * * * * * * * * * * * */

.coin_wrapper {
    padding: 40px 40px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}
/* * * * * * * * * * * * * * * *
 *                             *
 *           WIRE 1            *
 *                             *
 * * * * * * * * * * * * * * * */

#w1-wrapper {
    text-align: center;
    padding-top: 120px;
}

#w1-wrapper > section {
    display: inline-block;
    vertical-align: middle;
    margin: 0 50px;
    width: 360px;
}

#w1-left {
    height: 230px;
    text-align: left;
}

#w1-left h1 {
    font-family: "monster_l", sans-serif;
    font-size: 2em;
}

#w1-left h3 {
    font-size: 1.1em;
}

#w1-left a {
    text-decoration: none;
    color: white;
}

#w1-left span {
    display: block;
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 1.3em;
    margin-top: 30px;
}

#sign-up-button {
    background: #1C3A3F;
    border: 1px solid #151515;
}

#sign-up-button:hover {
    border: 1px solid #68CEDE;
    cursor:pointer;
}

#log-in-button {
    background: #397C86;
    border: 1px solid #151515;
}

#log-in-button:hover {
    border: 1px solid #68CEDE;
    cursor:pointer;
}

#fb-button {
    background: #3a5795;
    border: 1px solid #151515;
}

#fb-button:hover {
    border: 1px solid #68CEDE;
    cursor:pointer;
}

#w1-right {
    height: 450px;
}

#iphone {
    height: 100%;
    width: 230px;
    margin: 0 auto;
    background: #151515;
    border-radius: 30px;
    border: 2px solid #565656;
    position: relative;
}

#iphone > div {
    position: absolute;
}

#iphone-camera {
    background: #252525;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: 21px;
    left: 75px;
}

#iphone-speaker {
    background: #252525;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    left: 50%;
    margin-left: -20px;
    top: 23px;
}

#iphone-screen {
    position: relative !important;
    height: 350px;
    width: 210px;
    margin: 50px 10px;
    background-image: url("../assets/demo.png");
}

#iphone-home {
    width: 30px;
    height: 30px;
    border: 2px solid #252525;
    border-radius: 100%;
    left: 50%;
    margin-left: -15px;
    bottom: 7px;
}
/* * * * * * * * * * * * * * * *
 *                             *
 *           WIRE 2            *
 *                             *
 * * * * * * * * * * * * * * * */

.overview-panel {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.overview-panel .total-value {
    width: 100%;
    height: 80px;
    background: #D0D0D0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
}

.overview-panel .total-value > div {
    display: inline-block;
    vertical-align: bottom;
}

.overview-panel .total-value .total-dollars {
    margin-top: 3px;
    font-size: 2em;
    font-weight: 900;
}

.overview-panel .total-value .total-change {
    color: black;
    position: relative;
    bottom: 3px;
    left: 2px;
}

.overview-panel .total-value .total-label {
    font-size: 1.1em;
}

.overview-panel .mobile-toggle {
    display: none;
    width: 100%;
    height: 50px;
    background: #D0D0D0;
    font-size: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.7);
    white-space: nowrap;
}

.overview-panel .mobile-toggle .mobile-toggle-button {
    width: 50%;
    height: 100%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.overview-panel .mobile-toggle .mobile-toggle-button svg {
    width: 40px;
    height: 40px;
    fill: white;
    margin-top: 5px;
}

.overview-panel .mobile-toggle .mobile-toggle-selected {
    background: #B8B8B8;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.overview-panel .market-status {
    width: 100%;
    height: 20px;
    margin-top: 20px;
    font-size: 1.05em;
}

.overview-panel .market-status > div {
    display: inline-block;
}

.overview-panel .market-status .market-open {
    float: left;
}

.overview-panel .market-status .market-time {
    float: right;
}

.overview-panel .market-list {
    width: 100%;
    margin-top: 20px;
}

.overview-panel .market-list .market-item-header {

    border-bottom: 2px solid #D0D0D0;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.overview-panel .market-list .market-item-header svg {
    position: absolute;
    right: 5px;
    top: 3px;
    fill: black;
    width: 15px;
    height: 15px;
}

.overview-panel .market-list .market-item-header:hover {
    color: #336d76;
}

.overview-panel .market-list .market-item-header:hover svg {
    fill: #336d76;
}

.overview-panel .market-list #current-spot {
    cursor: default;
}

.overview-panel .market-list #current-spot:hover {
    color: black;
}

.overview-panel .market-list .market-item-stats {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 25px;
}

.overview-panel .market-list .market-item-stats table {
    width: 100%;
}

.overview-panel .market-list .market-item-stats table tr:first-child {
    color: #68CEDE;
}

.overview-panel .market-list .market-item-stats td {
    text-align: center;
    width: 33%;
    margin: 0;
    padding: 5px 0;
}

.overview-panel .pos-change {
    color: #426637 !important;
}

.overview-panel .neg-change {
    color: #FF6A65 !important;
}

.graph-panel-show {
    visibility: visible !important;
    height: auto !important;
    overflow: visible !important;
}

.graph-panel {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    width: -webkit-calc(100% - 360px);
    width: calc(100% - 360px);
    height: 400px;
    position: relative;
}

.graph-panel > section {
    display: inline-block;
    vertical-align: top;
}

.graph-panel .chart-wrap {
    width: -webkit-calc(100% - 150px);
    width: calc(100% - 150px);
    height: 100%;
    position:relative;
}

#chart-is-loading{
    position:absolute;
    top:50%;
    left:50%;
    margin:-15px 0 0 -15px;
    visibility:hidden;
}

.graph-panel .chart-y-label {
    position: absolute;
    width: 400px;
    text-align: center;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.graph-panel .chart-x-label {
    position: absolute;
    text-align: center;
    width: -webkit-calc(100% - 150px);
    width: calc(100% - 150px);
    bottom: -25px;
}

.graph-panel .chart-legend {
    position: absolute;
    width: 135px;
    right: -5px;
    margin-top: 12px;
}

.graph-panel .legend-item {
    margin-bottom: 5px;
    height: 20px;
    line-height: 20px;
    color: black;
}

.graph-panel .legend-item-color {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.current-legend{
    color:#336d76!important;
}

.graph-panel #legend-0{
    background: #336d76;
}

.legend-item:hover{
    cursor:pointer;
    text-decoration:underline;
}

.graph-panel #legend-1 {
    background: #FF6D67;
}

.graph-panel #legend-2 {
    background: #FFA859;
}

.graph-panel #legend-3 {
    background: #F3FF88;
}

.graph-panel #legend-4 {
    background: #9FFF98;
}

.graph-panel #legend-5 {
    background: #BBF5FF;
}

.graph-panel #legend-6 {
    background: #C29FFF;
}
/* * * * * * * * * * * * * * * *
 *                             *
 *           WIRE 3            *
 *                             *
 * * * * * * * * * * * * * * * */

.current_gold {
    margin-top: -24px;
    margin-left: 170px;
    margin-bottom: 0;
}

.current_gold tr > td {
    padding-bottom: 5px;
}

.current_gold tr > td:first-child {
    text-align: right;
    padding-right: 10px;
}

.current_gold tr > td:nth-child(2) {
    color: #74b261;
}

#my_gold_value {
    position: absolute;
    margin-top: -23px;
    font-size: 12px;
}

.my_stack {
    clear: both;
    margin-top: 30px;
}

.my_stack table {
    width: 90%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 0px;
}

.my_stack table th {
    width: 16%;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "monster_r";
    color: #595959;
    font-weight: bold;
}

.my_stack table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.my_stack table tbody > tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.my_stack table caption {
    text-align: left;
}

.my_stack table caption section h3 {
    float: left;
    margin-bottom: 20px;
    margin-top: 9px;
}

.my_stack table caption section .stack_ctrl {
    float: right;
}

.my_stack table caption section .stack_ctrl input {
    width: 215px;
    border-radius: 0;
    margin-right: 15px;
    padding-left: 5px;
}

.my_stack table caption section .stack_ctrl svg {
    margin-bottom: -7px;
    cursor: pointer;
}

.coin_mini {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #5D5D5D;
}
/* * * * * * * * * * * * * * * *
 *                             *
 *           WIRE 4            *
 *                             *
 * * * * * * * * * * * * * * * */

.coin_main {
    width: 100%;
    height: 100%;
    position: relative;
}

.coin_main .breadcrumb {
    font-size: 1.2em;
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.coin_main .breadcrumb svg {
    fill: black;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

.coin_main .breadcrumb:hover {
    color: #68CEDE;
}

.coin_main .breadcrumb:hover svg {
    fill: #68CEDE;
}

.coin_image {
    width: 275px;
    height: 200px;
    margin-bottom: 40px;
    text-align: center;
    float: left;
}

.coin_detail {
    float: left;
    padding-bottom: 50px;
}

.coin_detail a {
    text-decoration: none;
    color: black;
}

.coin_detail span {
    display: block;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
}

.coin_detail table {
    width: 275px;
    margin-left: auto;
    margin-right: auto;
}

.coin_detail tr > td {
    padding-bottom: 15px;
}

.coin_detail tr > td:first-child {
    text-align: right;
    padding-right: 15px;
}

.coin_detail tr > td:nth-child(2),
.coin_detail tr > td:nth-child(2) input {
    text-align: left;
    color: #397C86;
    font-size: 14px;
}

.img_box {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed #5D5D5D;
}

.img_circle {
    width: 160px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: #D0D0D0;
}

#editCancelButton,
#deleteButton {
    height: 50px;
    margin-top: 20px;
}

#editCancelButton {
    float: left;
    margin-left: 20%;
}

#deleteButton {
    float: right;
    margin-right: 20%;
    visibility: hidden;
}

strong {
    font-family: "monster_r";
    font-weight: 700;
}
/* * * * * * * * * * * * * * * *
 *                             *
 *           WIRE 5            *
 *                             *
 * * * * * * * * * * * * * * * */

input {
    background-color: #D0D0D0;
    width: 125px;
    height: 27px;
    padding: 0 10px;
    border: none;
    color: black;
    font-family: "monster_h";
    font-size: 13px;
    border-radius: 5px;
    outline: 0;
}

input:focus {
    outline: 2px solid #68CEDE;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: url("../assets/down_arrow.svg") no-repeat;
    background-position: 125px center;
    background-color: #D0D0D0;
    width: 145px;
    height: 27px;
    color: black;
    border: none;
    font-family: "monster_h";
    font-size: 14px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 0;
}

#save {
    background: #397C86;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    width: 275px;
}

#save:hover {
    border: 1px solid #68CEDE;
    cursor:pointer;
}

#cancel {
    background: #13232f;
    border: 1px solid #151515;
    color: white;
    text-decoration: none;
    width: 275px;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
}

#cancel:hover {
    border: 1px solid #68CEDE;
    cursor:pointer;
}

.addCoinButton {
    fill: #FFFFFF;
}

#searchCoins{
    float:left;
    margin-top:10px;
}
/* * * * * * * * * * * * * * * *
 *                             *
 *           settings          *
 *                             *
 * * * * * * * * * * * * * * * */
.settings-all{
    width:100%;
    margin:auto
}
.settings-row{
    width:100%;
    height:45px;
    text-align:center;
}

.settings-label{
    float:left;
    width:150px;
}

.settings-input{
    float:left;
}

.update{
    background: #397C86;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    width: 290px;
    height:30px;
    text-align:center;
}

.update:hover {
    border: 1px solid #68CEDE;
    cursor:pointer;
}

#settings-1, #settings-2, #settings-3{
    margin:0 auto 70px auto;
    width:400px;
}

#settings-logout{
    position: absolute;
    top: 13px;
    right: 13px;
    width: 100px;
    height: 30px;
    background:#397C86;
    border: 1px solid #151515;
    color: white;
    text-decoration: none;
    line-height: 0px;
}

#settings-logout:hover{
    border: 1px solid #68CEDE;
    cursor:pointer;
}

#poor-span{
    color:black;
    font-size:24px;
    padding:40px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-60px 0 0 -220px;
}
/* * * * * * * * * * * * * * * *
 *                             *
 *     RESPONSIVE HANDLING     *
 *                             *
 * * * * * * * * * * * * * * * */

@media screen and (max-width: 1000px) {
    #w1-wrapper section {
        margin: 50px 0px;
    }
    aside {
        display: none;
        visibility: hidden;
    }
    .main-section {
        padding-left: 0;
    }
    .coin_main {
        width: 100%;
        text-align: center;
    }
    .mobile-nav {
        display: block;
    }
    .coin_main {
        display: inline;
    }
    .coin_image {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .coin_detail {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .breadcrumb {
        display: none;
    }
    .my_stack .label-and-search {
        display: none;
    }
    .overview-panel {
        width: 100%;
    }
    .overview-panel .mobile-toggle {
        display: block;
    }
    .graph-panel {
        visibility: hidden;
        height: 0;
        overflow: hidden;
        width: 100%;
        margin: 0;
        margin-top: 20px;
        padding-bottom: 0px;
    }
    .graph-panel .chart-legend {
        display: block;
        width: 100%;
        position: relative;
        text-align: center;
    }
    .graph-panel .chart-wrap {
        width: 100%;
        height: 400px;
    }
    .graph-panel .chart-x-label {
        width: 100%;
    }
    .graph-panel .legend-left-half {
        display: inline-block;
        text-align: left;
    }
    .graph-panel .legend-right-half {
        display: inline-block;
        text-align: left;
        margin-left: 30px;
    }
    .stack_img_col {
        display: none;
        visibility: hidden;
    }
    .weight_compr span {
        display: none;
        visibility: hidden;
    }
    .weight_compr:after {
        content: "Weight";
    }
    .percent_compr span {
        display: none;
        visibility: hidden;
    }
    .percent_compr:after {
        content: "%";
    }
    .stack_ctrl {
        display: none;
        visibility: hidden;
    }
}
